<!doctype html>
<html lang="en">

<head>
  <meta charset=utf-8>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title property="schema:name">antoine.studio</title>
  <meta name="description" content="experimental studio of Antoine Jaunard">
  <meta property="schema:name" content="antoine.studio">
  <meta property="schema:description" content="experimental studio of Antoine Jaunard">
  <link rel="stylesheet" href="assets/style.css">
</head>

<body>
  <main class="main">
    <header class="header">
      <h1 class="title"><a href="index.html"><span>antoine</span>.studio</a></h1>
      <nav class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="index.html" class="nav__link">index</a></li>
          <li class="nav__item"><a href="flux.html" class="nav__link">flux</a></li>
          <li class="nav__item"><a href="about.html" class="nav__link">about</a></li>
        </ul>
      </nav>
    </header>
    {% block content %}{% endblock %}
  </main>
</body>

</html>