{% extends "base.html" %}
{% block content %}


<section class="index flux">
  {% for file in flux %}
  <figure class="flux__item">
    <img src="{{ file.slug }}" alt="{{ file.title }}" class="flux__img">
    <figcaption class="flux__desc">{{ file.title }}</figcaption>
  </figure>
  {% endfor %}
</section>



{% endblock %}